 {% extends 'main.html' %}
{% load i18n %}
{% block content %}
    <a href="{% url "deal_urls:deal_reiting_url" %}" >{% trans 'Reitings(all)' %}</a>
    <a href="{% url "deal_urls:deal_department_reiting_url" %}" >{% trans 'Reitings(by_department)' %}</a>
    <a href="{% url "deal_urls:deal_city_reiting_url" %}" >{% trans 'Reitings(by_city)' %}</a>

<h1>{% trans 'Deal reitings' %}</h1>

    {% if filter.form %}
<form method="get">
   {{ filter.form.as_p }}
   <input type="submit" />
</form>
{% endif %}
{% for instance in instances %}
    <p>{{ instance }}
    {% if instance.name == user.pk or user.groups.get.name in 'Генеральный директор,Начальник филиала' %}
        {{ instance.name__departament__city__name}} {{ instance.commision }} rub
    {% endif %}
    </p>
{% endfor %}
 {% endblock %}