{% load static %}
{% load i18n %}
{% block content_admin %}

<a href="{% url "accounts_urls:users_list_url" %}" >{% trans 'admin_page_Users_adminstration' %}</a>
<a href="{% url "accounts_urls:users_subject_transfer_url" %}" >{% trans 'admin_page_Users_Realty_and_Clients_trasfer' %}</a>
<a href="{% url "accounts_urls:sitys_quide_url" %}" >{% trans 'admin_page_Sityes_quide' %}</a>
<a href="{% url "accounts_urls:departments_quide_url" %}" >{% trans 'admin_page_Departments_quide' %}</a>
<a href="{% url "accounts_urls:district_quide_url" %}" >{% trans 'admin_page_Users_Districts_quide' %}</a>
<a href="{% url "accounts_urls:sales_chanels_quide_url" %}" >{% trans 'admin_page_Sales_chanels_quide' %}</a>

{% endblock %}