{% extends 'main.html' %}
{% load i18n %}

{% block content %}
    {% include 'accounts/admin_page_admin.html' %}
<h1> {% trans 'User_Realty_and_Clients_trasfer' %}</h1>
<ul class="messages">
   {% for message in messages %}
   <li class="{{ message.tags }}">{{ message|striptags  }}</li>
   {% endfor %}
</ul>
<form  method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
       <input type="submit" name="_transfer_realty" value="{% trans 'Trasfer_realtys' %}" >
</form>
{% if reaty_clients_form %}
<form  method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{ reaty_clients_form.as_p }}
       <input type="submit" name="_transfer_clients" value="{% trans 'Trasfer_Clients' %}" >
</form>
{% endif %}


{% endblock %}