 {% extends 'main.html' %}
{% load i18n %}
{% block content %}
    {{ form.media.css }}
    <h1>
        {% if view.action == 'My ' %} {% trans 'My ' %}
        {% elif view.action == 'All  ' %} {% trans 'All  ' %}
        {% endif %} {% trans 'Clients' %}
    </h1>
{% for client in clients_list %}
<p>
    <a href="{% url "real_estates_urls:client_detail_url" pk=client.pk %}" >
    {% trans 'Client_name' %}{{ client.name }} {% trans 'Creation_date' %} {{ client.creation_date }}
    {% trans 'Districts' %}
    {% for district in client.district.all %} {{ district }}, {% endfor %}
    {% trans 'Estate_type' %} {{ client.estate_type }} {% trans 'Min_price' %} {{ client.min_price }}
        {% trans 'Max_price' %} {{ client.max_price }}
    </a>
</p>
{% endfor %}

{% if is_paginated %}
<ul class="pagination">
   {% if page_obj.has_previous %}
   <li>
      <span><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></span>
   </li>
   {% endif %}
   <li class="">
      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. {{ instances.count}}</span>
   </li>
   {% if page_obj.has_next %}
   <li>
      <span><a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %} </a></span>
   </li>
   {% endif %}
</ul>
{% endif %}

{{ filter.form.media.css }}
<form method="get">
   {{ filter.form.as_p }}
   <input type="submit" />
</form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ filter.form.media.js }}
{% endblock %}