 {% extends 'main.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Client_detail' %}</h1>
    {% if client.author == user %}
    <p><a href="{% url "real_estates_urls:client_edit_url" pk=client.pk %}" >{% trans 'Edit' %}</a></p>
    {% endif %}
    <p>{% trans 'Creation_date' %} {{ client.creation_date }}</p>
    <p>{% trans 'Author_name' %} {{ client.author.first_name }} {{ client.author.last_name }}</p>
    <p>{% trans 'Client_name' %} {{ client.client_name }}</p>
    {% if client.author == user %}
    <p>{% trans 'Client_phone' %} {{ client.phone }}</p>
    <p>{% trans 'Client_email' %} {{ client.email }}</p>
    {% endif %}
    <p>{% trans 'Estate_type' %} {{ client.estate_type }}</p>
    <p>{% trans 'District' %} {% for district in client.district.all %}{{ district }}, {% endfor %} </p>
    <p>{% trans 'Discription' %} {{ client.discription }}</p>
    <p>{% trans 'Min_price' %} {{ client.min_price }}</p>
    <p>{% trans 'Max_price' %} {{ client.max_price }}</p>
    {% if instances %}
    <h1>{% trans 'Aviablse_estates' %}</h1>
        {% for instance in instances %}
        {% if instance.type == 'Квартира' %}
            <a href="{% url "real_estates_urls:flat_detail_url" pk=instance.pk %}" >
        {% elif instance.type == 'Дом' %}
             <a href="{% url "real_estates_urls:house_detail_url" pk=instance.pk %}" >
        {% elif instance.type == 'Участок' %}
             <a href="{% url "real_estates_urls:plot_of_land_detail_url" pk=instance.pk %}" >
        {% elif instance.type == 'Коммерция' %}
            <a href="{% url "real_estates_urls:commerce_detail_url" pk=instance.pk %}" >
         {% endif %}
        <p>{% trans 'Adress' %} {{ instance.district }} {{ instance.street }}
        <p>{% trans 'Agency_price' %} {{ instance.agency_price }}
        <p>{% trans 'Square' %} {{ instance.ploshad }}</p>
        </a>
        {% endfor %}
    {% endif %}
 {% endblock %}