
 {% extends 'main.html' %}
{% load i18n %}
{% block content %}
    {{ form.media.css }}
    <h1>{% trans 'Client' %}
        {% if view.action == '(New)' %} {% trans '(New)' %}
        {% elif view.action == '(Edit)' %} {% trans '(Edit)' %}
        {% endif %}
    </h1>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <form  method="post" enctype="multipart/form-data">{% csrf_token %}
    <table border="1">
     {{ form.as_table }}
     </table>
<input type="submit"  value="{% trans 'Save' %} ">

</form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock %}