{% extends 'main.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Detail' %}</h1>
    {% if user == instance.author %}
   {% if instance.type == 'Квартира' %}
   <a href="{% url "real_estates_urls:edit_flat_url" pk=instance.pk %}" >
   {% elif instance.type == 'Дом' %}
   <a href="{% url "real_estates_urls:edit_house_url" pk=instance.pk %}" >
   {% elif instance.type == 'Участок' %}
   <a href="{% url "real_estates_urls:edit_plot_of_land_url" pk=instance.pk %}" >
   {% elif instance.type == 'Коммерция' %}
   <a href="{% url "real_estates_urls:edit_commerce_url" pk=instance.pk %}" >
   {% endif %} Edit</a>
    {% endif %}

    <p>{% trans 'author' %} {{ instance.author.first_name }} {{ instance.author.last_name }} {{ instance.author.departament }}</p>
    {% if instance.author == user %}
    <p>{% trans 'Name_of_the_owner' %} {{ instance.client_name }}</p>
    <p>{% trans 'Phone_of_the_owner' %} {{ instance.client_tel }}</p>
    {% endif %}
    <p>{% trans 'Creation_date' %} {{ instance.creation_date }}</p>
    <p>{% trans 'Date_of_change' %} {{ instance.date_of_change }}</p>
    <p>{% trans 'Contract' %} {{ instance.contract  }} {% trans 'Contract_number' %} {{ instance.contract_number }}
        {% trans 'Contract_date_end' %} {{ instance.contract_date_end }}</p>
    <p>{% trans 'new_building' %} {% if instance.new_building  %} {% trans 'Yes' %}{% else %} {% trans 'No' %} {% endif %}</p>
    {% if instance.youtube %}
        <p>{% trans 'Youtube' %} {{ instance.youtube }}</p>
    {% endif %}
    <p>{% trans 'Estate_type' %} {{ instance.type }}</p>
    <p>{% trans 'District' %} {{ instance.district }}</p>
    <p>{% trans 'Street' %} {{ instance.street }}</p>
    {% if street_number %} <p>{% trans 'Street_number' %} {{ instance.street_number }}</p>{% endif %}
    <p>{% trans 'Square' %}{{ instance.ploshad }}</p>
    {% if instance.author == user %}
    <p>{% trans 'Owners_price' %} {{ instance.owners_price }}</p>
    {% endif %}
    <p>{% trans 'Agency_price' %} {{ instance.agency_price }}</p>
    <p>{% trans 'Discription' %}Описание {{ instance.discription }}</p>
    <p>{% trans 'Gaz' %} {{ instance.gaz }}</p>
    {% if instance.cadastral_number %}
    <p>{% trans 'Cadastral_number' %} {{ instance.cadastral_number }}</p>
    {% endif %}
    <p>{% trans 'Type_of_law' %} {{ instance.type_of_law }}</p>
    <p>{% trans 'Use_of_the_plot' %} {{ instance.use_of_the_plot }}</p>
    <p>{% trans 'Domclick_published' %} {% if instance.domclick_pub == True %}{% trans 'Yes' %}
        {% else %} {% trans 'No' %}{% endif %}</p>
    {% if instance.flat.type == 'Квартира' %}
         {% if user == instance.author and instance.flat.flat_number %}
        <p>{% trans 'Flat_number' %} {{ instance.flat.flat_number }}</p>
         {% endif %}
        <p>{% trans 'Stage_of_delivery' %} {{ instance.flat.stage_of_delivery }}</p>
        <p>{% trans 'Housing_status' %} {{ instance.flat.housing_status }}</p>
        <p>{% trans 'Housing_class' %} {{ instance.flat.housing_class }}</p>
        <p>{% trans 'Repair' %} {{ instance.flat.repair }}</p>
        <p>{% trans 'Flat_rooms' %} {{ instance.flat.rooms }}</p>
        <p>{% trans 'Floor' %} {{ instance.flat.floor }}</p>
        <p>{% trans 'Number_of_floors' %} {{ instance.flat.number_of_floors }}</p>
        <p>{% trans 'View_from_the_windows' %} {{ instance.flat.view_from_the_windows }}</p>
        <p>{% trans 'Bathroom' %} {{ instance.flat.bathroom }}</p>
        <p>{% trans 'Parking' %} {{ instance.flat.parking }}</p>
        <p>{% trans 'Security' %} {% if instance.flat.security %} {% trans 'Yes' %}{% else %} {% trans 'No' %} {% endif %}</p>
        <p>{% trans 'Rubbish_chute' %} {% if instance.flat.rubbish_chute %} {% trans 'Yes' %}
                {% else %} {% trans 'No' %}{% endif %}</p>
        <p>{% trans 'Elevator' %} {% if instance.flat.elevator %}{% trans 'Yes' %}{% else %} {% trans 'No' %}{% endif %}</p>
        <p>{% trans 'Balcony' %} {% if instance.flat.balcony %} {% trans 'Yes' %}{% else %} {% trans 'No' %}{% endif %}</p>
    {% elif instance.house.type == 'Дом' %}
        <p>{% trans 'Number_of_floors' %} {{ instance.house.number_of_floors }} </p>
        <p>{% trans 'Number_of_flats' %} {{ instance.house.number_of_flats }}</p>
        <p>{% trans 'Type_of_house' %} {{ instance.house.type_of_house }}</p>
        <p>{% trans 'Plot_area' %} {{ instance.house.plot_area }}</p>
    {% elif instance.plotofland.type == 'Учаток' %}
        <p>{% trans 'Relief' %} {{ instance.plotofland.relief }} </p>
        <p>{% trans 'View' %} {{ instance.plotofland.view }} </p>
    {% elif instance.type == 'Коммерция' %}
        <p>{% trans 'Type_of_building' %} {{ instance.commerce.type_of_building }} </p>
        <p>{% trans 'Type_deal' %} {{ instance.commerce.type_deal }}</p>
    {% endif %}


{% if instance.longitude and instance.latitude %}
{{ instance.longitude }}, {{ instance.latitude }} for map
{% endif %}
{% if clients %}
<h1>{% trans 'Aviable_clients' %}</h1>
    {% for client in clients %}
        <a href="{% url "real_estates_urls:client_detail_url" pk=client.pk %}" >
        <p>{{ client.author.first_name }} {{ client.author.last_name }}
           {% for district in client.district.all %} {{ district }} {% endfor %} {{ client.max_price }}</p>
        </a>
    {% endfor %}
{% endif %}
    <p>{% trans 'Main_photo' %} <img src="{{ instance.image.url }}" /></p>
    <h1>{% trans 'Galery' %}</h1>
    {% for image in instance.galery_real_estate_id.all %}
        <p> <img src="{{ image.image.url }}" /></p>
    {% endfor %}


{% endblock %}