{% extends 'main.html' %}
{% block content %}
{% load i18n %}

<h1>
    {% if view.action == 'Cityes' %}  {% trans 'Cityes' %}
    {% elif view.action == 'Departments' %} {% trans 'Departments' %}
    {% elif view.action == 'Realtors' %} {% trans 'Realtors' %}
    {% elif view.action == 'All Realtors' %}  {% trans 'All Realtors' %}
    {% endif %}
    statistic</h1>

<form action="" method="GET">
{% csrf_token %}

    <input type="date" name="date_start" required>
    <input type="date" name="date_end" required>
       <i class="ti-search"></i><input class="button" type='submit' value="{% trans 'Search_Data' %}">
</form>


    \ {% trans 'realtes_without_contract(all)' %} \ {% trans 'realtes_without_contract(New)' %}
    \ {% trans 'realtes_with_contract(all)' %} \ {% trans 'realtes_with_contract(new)' %}
    \ {% trans 'open_deals_sum' %} \ {% trans 'open_deals_count' %} \
    {% trans 'close_deals_sum' %} \ {% trans 'close_deals_count' %} \

    {% for instanse in instanses %}
        {% if view.action == 'Cityes' %}
        <a href="{% url "boss_statistics_urls:departments_list_url" pk=instanse.pk %}" >
        {% elif view.action == 'Departments' %}
        <a href="{% url "boss_statistics_urls:realtors_list_url" pk=instanse.pk %}" >
        {% elif view.action == 'Realtors' %}
        <a href="{% url "boss_statistics_urls:realtor_detail_url" pk=instanse.pk %}" >
        {% endif %}
        <p>
        {{ instanse }} (works with {{ instanse.date_joined }})
        {% if view.action != 'All Realtors' %}
            \ {{ instanse.not_contract_realtys_all }} \
            {{ instanse.not_contract_realtys_new }} \
        {{ instanse.contract_realtys_all }} \ {{ instanse.contract_realtys_new }}
        {% if instanse.open_deals_sum %}{{ instanse.open_deals_sum }}{% else %}0{% endif %} {{ instanse.open_deals_count }} \
        {% if instanse.close_deals_sum %}{{ instanse.close_deals_sum }}{% else %}0{% endif %} {{ instanse.close_deals_count }}
        {% endif %}
        </p>
        </a>

    {% endfor %}




{% endblock %}
