{% load static %}
{% if user.is_authenticated %}
   <p><a href="{% url "accounts_urls:logout_url" %}" >Exit</a>
    <a href="{% url "accounts_urls:password_change_url" %}" >Change password</a>
    <a href="{% url "real_estates_urls:new_flat_url" %}" >New flat</a>
    <a href="{% url "real_estates_urls:new_house_url" %}" >New house</a>
    <a href="{% url "real_estates_urls:new_plot_of_land_url" %}" >New plot_of_land</a>
    <a href="{% url "real_estates_urls:new_commerce_url" %}" >New commerce</a>
    <a href="{% url "real_estates_urls:client_new_url" %}" >New client</a>
    </p>
    <p>
    <a href="{% url "real_estates_urls:my_flat_list_url" %}" >My flat</a>
    <a href="{% url "real_estates_urls:my_house_list_url" %}" >My house</a>
    <a href="{% url "real_estates_urls:my_plot_of_landt_list_url" %}" >My plot_of_landt</a>
    <a href="{% url "real_estates_urls:my_commerce_list_url" %}" >My commerce</a>

    <a href="{% url "real_estates_urls:client_my_list_url" %}" >My clients</a>
    <a href="{% url "real_estates_urls:client_all_list_url" %}" >All clients</a>

    <a href="{% url "deal_urls:deal_new_url" %}" >Deal New </a>
    <a href="{% url "deal_urls:deal_open_url" %}" >Deals List</a>

    <a href="{% url "deal_urls:deal_reiting_url" %}" >Reitings</a>
{% if user.is_staff %}
    <a href="{% url "accounts_urls:users_list_url" %}" >Admin adminstration</a>
{% endif %}
{% if user.groups.get.name != 'Риелтор'  %}
    <a href="{% url "boss_statistics_urls:sityes_list_url" %}" >Boss statistic</a>
{% endif %}
{% if user.department_boss %}
    <a href="{% url "boss_statistics_urls:realtors_list_url" pk=user.departament.pk %}" >Department statistic</a>
{% endif %}
    <a href="{% url "boss_statistics_urls:realtors_list_all" %}" >Reiting</a>

    </p>
{% endif %}

{% block content %}

{% endblock %}